# ignore ALL .db files
*.db

# ignore ALL .pyc files
*.pyc

# ignore ALL files in ANY directory named log
logs/

# ignore ALL files in ANY directory named __pycache__
__pychache__/

# ignore ALL files in ANY directory named .vscode
.vscode/

# ignore ALL files in ANY directory named .venv
.venv/

# ignore docker config file
docker.conf

# ignore local libtsscan.so
libtsscan.so
node_modules

# ignore package-lock file
package-lock.json

build/